asn1crypto==0.24.0
cffi==1.11.5
chardet==3.0.4
configobj==5.0.6
coverage==4.5.1
cryptography==2.3
decorator==4.2.1
MarkupSafe==0.23
pycairo==1.16.3
pycparser==2.14
pyenchant==2.0.0
pyOpenSSL==18.0.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==5.3
requests==2.20.0
requests-file==1.4.3
requests-ftp==0.3.1
six==1.11.0
urllib3==1.24.2
Pillow==9.0.0
